MYSQL_HOST=mysql-ad3b1b9-campuslostfoundformits.a.aivencloud.com
MYSQL_PORT=3306
MYSQL_USER=avnadmin
MYSQL_PASSWORD=PUT_YOUR_AIVEN_PASSWORD_HERE
MYSQL_DB=defaultdb
MYSQL_SSL_MODE=REQUIRED

CLOUDINARY_CLOUD_NAME=PUT_YOUR_CLOUD_NAME_HERE
CLOUDINARY_API_KEY=PUT_YOUR_API_KEY_HERE
CLOUDINARY_API_SECRET=PUT_YOUR_API_SECRET_HERE

GOOGLE_CLIENT_ID=PUT_YOUR_GOOGLE_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=PUT_YOUR_GOOGLE_CLIENT_SECRET_HERE

JWT_SECRET_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
FRONTEND_ORIGINS=http://localhost:5173
